@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "Nunito Black";
  src: url("./assets/Fonts//Nunito-Black.ttf");
}
@font-face {
  font-family: "Nunito Bold";
  src: url("./assets/Fonts//Nunito-Bold.ttf");
}
@font-face {
  font-family: "Nunito Extra Bold";
  src: url("./assets/Fonts//Nunito-ExtraBold.ttf");
}
@font-face {
  font-family: "Nunito Extra Light";
  src: url("./assets/Fonts//Nunito-ExtraLight.ttf");
}
@font-face {
  font-family: "Nunito Light";
  src: url("./assets/Fonts//Nunito-Light.ttf");
/* } */

@font-face {
  font-family: "Nunito Medium";
  src: url("./assets/Fonts//Nunito-Medium.ttf");
}
@font-face {
  font-family: "Nunito Regular";
  src: url("./assets/Fonts//Nunito-Regular.ttf");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("./assets/Fonts//Roboto-Regular.ttf");
}
/* @font-face {
  font-family: "Nunito Semibold";
  src: url("./assets/Fonts//Nunito-SemiBold.ttf");
} */

/* Hide scrollbar */
@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

:root {
  font-family: "Nunito Medium";
}

body {
  transform-origin: 0 0;
}

/* Media query for low DPI devices */
@media (max-resolution: 120dpi) {
  .zoom-adjust {
    zoom: 0.8; /* Adjust the zoom level for low DPI devices */
  }
}

/* Media query for medium DPI devices */
@media (min-resolution: 121dpi) and (max-resolution: 192dpi) {
  .zoom-adjust {
    zoom: 1; /* Adjust the zoom level for medium DPI devices */
  }
}

/* Media query for high DPI devices */
@media (min-resolution: 193dpi) {
  .zoom-adjust {
    zoom: 1.2; /* Adjust the zoom level for high DPI devices */
  }
}

/* Font classes */
.text-logo {
  font-family: "Roboto Regular";
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  color: orange;
}

.text-42-700 {
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-22-700 {
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-18-700 {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-18-500 {
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text-16-500 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text-16-500-130 {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 130%;
}

.text-16-600 {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.text-16-700 {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-12-500 {
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text-14-700 {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-14-500 {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.text-14-400 {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
